.droppable_zones_container{

    width:100%;
    height:auto;
    //background-color:red;
    text-align:center;
      overflow: auto;

}

.droppable_zone{
    width:50%;
    height:300px;
    float:left;
    border:1px solid silver;
   // margin-right:10px;
      //  padding:10px;
}

.draggable_container{

    width:100%;
    height:300px;
   // background-color:blue;
    padding:10px;

    text-align:center;
}


.draggable_object{

    background-color:#797D7B;
    color:white;
    float:left;
    margin:10px;
    padding:5px;

    height:80px;
    width:140px;
    text-align:center;
    border:1px solid silver;
   // display: table-cell; // this says treat this element like a table cell
    vertical-align:middle; //now we can center vertically like in a TD

    //cursor: pointer; cursor: hand;


}

.draggable_object:hover{

    cursor: move;
    cursor: -webkit-grab;
    cursor: grab
}

.draggable_object.grabbing { 
    cursor: grabbing; 
    cursor: -webkit-grabbing;
}

.hola{
    background-color:orange;
}

.droppable_title{
    width:100%;
    height:30px;
    background-color:black;
    color:white;
    font-size:15px;
    font-weight:bold;
    padding-top:2px;
}

.activity_title{
    width:100%;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
}