.input_container{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(228,228,228);
    border-radius: 3px;



    margin-bottom: 10px;

    &:hover{
        border-color: rgb(0, 116, 180);
        cursor: pointer; cursor: hand;
    }

    &.correct{
        border-color: rgb(22, 110, 54);
    }

    &.wrong{
        border-color: rgb(178, 6, 16);  
    }
}

.input_container label {
    color: rgb(60, 60, 60);
        cursor: pointer; cursor: hand;

    font-family: sans-serif;
    font-weight: normal;
    font-size: 14px;

    display: block;
    padding-top: 10px;
    //padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 0px;
}